<section class="spotlight">
  <div class="image">
    <img src="images/pic01.jpg" alt="" />
  </div>
  <div class="content">
    <h2>Emily and Charlie</h2>
    <p>Emily Kausalik, a native of the Chicago suburbs in Illinois, and Charlie Whittle, a native
    of Texas, met in Austin, TX, in March 2013. Their first date was appropriately Austin-like, involving
    tacos from a local food truck and a night of playing games at Pinballz.</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic02.jpg" alt="" />
  </div>
  <div class="content">
    <p>It didn't take long for Emily and Charlie to realize that they shared a lot of interests.
      They quickly bonded over a love of animals, comics, movies, and music (lots and lots of music).
      Soon they were spending every minute together.</p>
      <p>In early 2014, Emily and Charlie got their first place together, along with their
      critters Lil (dog), Charlie (cat, now often referred to as Kittybear), and Ronnie (cat).</p>
  </div>
</section>
<section class="spotlight">
  <div class="image">
    <img src="images/pic03.jpg" alt="" />
  </div>
  <div class="content">
    <p>After Emily graduated with her PhD in Music Theory from UT-Austin she settled
      into a career in IT, and now works for <a href="https://corporate.homedepot.com/" target="_blank">The Home Depot's</a>
      Austin Technology Center as a systems engineer managing Apple technology.
      Charlie is Pharmacy Manager at <a href="http://peoplesrx.com/">People's Rx</a>, a local holistic and compounding pharmacy based out of Austin.</p>
      <p>Emily and Charlie bought their first home together in June 2017, love their jobs, and are looking forward to starting
      the next chapter of their lives together.</p>
  </div>
</section>
