<div class="inner">
  <header class="major">
    <h2>An intimate gathering in Texas</h2>
    <p>Emily Kausalik and Charlie Whittle are tying the knot!</p>
    <p>A small, private wedding will take place at the couple's home in Pflugerville, TX, (see the <a href="#location" class="more scrolly">map below</a>) on Saturday, April 7, 2018. The couple's backyard will be the locale for the small, casual ceremony, officiated by Father of the Groom Pastor Ron Whittle.</p>
    <p>The ceremony is scheduled for 2:00pm, rain or shine. Family is welcome to arrive anytime after 1:00pm. We will be outdoors, enjoying the sunny weather (historically, temperatures average 75&deg;F on April 7 in Austin) and eachother's company along with light refreshments and snacks. Guests are welcome to come in <a href="https://www.theknot.com/content/wedding-guest-attire-cheat-sheet" target="_blank">casual attire</a>, wearing whatever they feel comfortable in.</p>
    <p><em>In the unlikely case of extreme or inclement weather, the ceremony will be moved indoors at the couple's home where it will likely be photo-bombed by one or more of the critters.</em></p>
  </header>
</div>
