<div class="inner">
  <header class="major">
    <h2>An intimate gathering in Texas</h2>
    <p>Emily Kausalik and Charlie Whittle are tying the knot!</p>
    <p>A private ceremony with the couple's immediate family will take place at their home in Pflugerville, TX,
      on Saturday, April 7, 2018. The couple's backyard will be the locale for the small,
      <a href="https://www.theknot.com/content/wedding-guest-attire-cheat-sheet" target="_blank">casual ceremony</a>, officiated by Father of the Groom Pastor Ron Whittle.</p>
    <p>While the ceremony itself will be a private affair, we'll be continuing the celebration later that day at
      Pinballz (see the <a href="#location" class="more scrolly">map below</a>) for friends and family available to attend.
</div>
