<div class="inner">
  <header class="major">
    <h2>Lodging</h2>
    <p>Emily and Charlie have noted a few options nearby in the event that guests would like to stay at a hotel.</p>
  </header>
  <ul>
    <li style="text-align:left;">
      <p><a href="http://www.marriott.com/hotels/travel/ausno-austin-marriott-north/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">Austin Marriott North (Round Rock)</a> is a fifteen minute drive to the ceremony location.</p>
    </li>
    <li style="text-align:left;">
      <p><a href="http://www.laquintaroundrocksouth.com/?cid=local_2000">La Quinta Inn & Suites Austin North/Round Rock</a> is a 10-15 minute drive from the couple's home and is pet-friendly.</p>
    </li>
    <li style="text-align:left;">
      <p><a href="www.airbnb.com/c/emilyk4912">Airbnb</a> is an option to find a rental in Austin, Round Rock, or Pflugerville.</p>
    </li>
  </ul>
  <p>There are plenty of other hotels in the area, and Central Austin is only a 20 minute drive from the couple's home if you'd prefer to stay there.</p>
</div>
