<div class="inner">
  <header class="major">
    <h2>Registry</h2>
    <p>Charlie and Emily have been living together for a few years now, and have acquired most essential household goods in that time, so they were somewhat reluctant to register for gifts&hellip; until they discovered Zola registries. The online registry is non-conventional: it includes options like contributing to a life fund, or gifting an experience.</p>
    <p>For guests who prefer to give a material gift the couple has traditional registries at <a href="https://tgt.gifts/emily-charlie-2018" target="_blank">Target</a> and <a href="https://www.amazon.com/wedding/emily-kausalik-charlie-whittle-pflugerville-april-2018/registry/28MXUKRKF7BXU" target="_blank">Amazon</a> but please know that any heirloom, hand-made, or otherwise unique gifts are absolutely appreciated!</p>
    <p>If you will be giving a registry item acquired through a different platform, you may <a href="mailto:emilykausalik@gmail.com">send an email to Emily</a> and request that a gift be marked as 'purchased' on Zola.</p>
  </header>
    <h4><a href="https://www.zola.com/wedding/emilyandcharlie2018/registry">View Charlie and Emily's Zola registry here.</a></h4>
</div>
