<div class="inner">
  <header class="major">
    <h2>Traveling to Austin</h2>
    <p>Austin is located in Central Texas, with easy access from I-35, 290, and 71.</p>
    <p>If you're driving from the north via I-35 North, take exit for W Louis Henna Blvd/I-45 and turn left on Louis Henna at the light. Turn right onto A.W. Grimes Blvd, then left on Pflugerville Parkway. Take a left on Heatherwilde, another left on Worley Drive, and a final left on Catumet Dr. The home will be on the right/north side of the road.</p>
    <p>If you're planning to fly in, the closest airport is <a href="http://www.austintexas.gov/airport" target="_blank">Austin-Bergstrom International Airport</a>. The airport is about a forty-five minute drive from the couple's home and you will likely need to rent a car to get to Austin/Pflugerville (as there is unfortunately no regular shuttle or bus service that goes near the ceremony location).</p>
  </header>
</div>
